{% extends 'layout.html' %}

{% block title %}Vacancies{% endblock %}

{% block content %}
    <div class="main-vacancies-container">
        <div class="left-vacancies-bar">

        </div>

        <div class="vacancies-card-container"> 
            {% if vacancies %}
                {% for job in vacancies %}
                    <a href="{% url 'vacancie_description' job.id %}">
                        <div class="vacancies-card">
                            <img src={{job.image.url}} alt="Вакансия: {{job.tittle}}">
                            <div class="vacancies-description">
                                <p>{{job.tittle}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>В данный момент свободных вакансий нет</p>
            {% endif %}
        </div>

        <div class="right-vacancies-bar">

        </div>
    </div>

    <div class="main-vacancies-container contacts">
        <div class="left-vacancies-contacts-bar">

        </div>

        <div class="vacancies-content-container">
            <div class="vacancies-contact-card">
                <h2>Коммерческий отдел</h2>
                <p><a href="tel:79493020460">+7 (949) 302 04 60</a></p>
            </div>
            <div class="vacancies-contact-card">
                <h2>Отдел кадров</h2>
                <p><a href="tel:+79493020460">+7 (949) 302 04 60</a></p>
            </div>
            <div class="vacancies-contact-card">
                <h2>Приемная</h2>
                <p><a href="tel:78569631245">+7 (856) 963 12 45</a></p>
            </div>
            <div class="vacancies-contact-card">
                <h2>Бухгалтерия</h2>
                <p><a href="mailto:nov-voda@mail.ru">nov-voda@mail.ru</a></p>
            </div>
        </div>

        <div class="right-vacancies-contacts-bar">

        </div>
    </div>
    {% include 'form.html' %}
{% endblock %}